@import 'base/normalize';
@import 'base/other-resets';
@import 'base/ie-compatibility';
@import 'base/typography';
@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/functions';
@import 'components/back-to-top-button';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/portfolio-items';
@import 'layout/placeholders';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Fira Sans', Fira, sans-serif;
  background: $backgroundColor url("https://mallowmew.github.io/images/broken_noise.png") repeat;
}

div {
  font-size: 1.6rem;
  color: $textColor;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-transform: uppercase;
}

p, a {
  margin: 0;
  font-family: 'Fira Sans Condensed' Fira, sans-serif;
}

a:link {
  color: $linkColor;
  text-decoration-line: none;
  font-weight: bold;
}

a:visited {
  color: $visitedColor;
}

.content-area {
  position: relative;
  margin: auto;
  width: 100%;
}

@include for-tablet-landscape-up {
  .content-area {
    width:900px;
  }
}

@include for-desktop-up {
  .content-area {
    width: 1000px;
  }
}

// @include for-big-desktop-up {
//   .content-area {
//     width: 1200px;
//   }

//   .header {
//     h1 {
//       font-size: 12rem;
//     }

//     h2 {
//       font-size: 3rem;
//     }
//   }

//   .portfolio-item {
//     height: 675px;
//     transition: height 300ms;
//   }
// }