.header {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 50px 20px;
  background-color: $aboutBoxColor;
  
  h1, h2, h3, a {
    font-weight: 200;
  }

  h1 {
    margin: 60px 0 10px 0;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 0.15em;
    white-space: nowrap;
  }

  h2 {
    margin-bottom: 10px;
    font-size: 2.2rem;
    letter-spacing: 0.15em;
  }

  h2 a {
    color: $textColor;
    font-weight: 400;
    font-style: normal;
    padding: 0;
  }
}

.about-container {
  width: 100%;
  background-color: $aboutBoxColor;
}

.about-content {
  font-weight: 300;
  
  p:first-of-type {
    margin-top: 60px;
    font-size: 1.8rem;
    font-weight: 500;
  }

  p {
    margin: 20px 0 20px 0;
    font-size: 1.6rem;
    font-weight: 400;
  }
}

@include for-tablet-portrait-up {
  .header {
    width: 100%;
  
    h1 {
      font-size: 4.2rem;
      letter-spacing: 0.3em;
    }

    h2 {
      font-size: 1.8rem;
      letter-spacing: 0.2em;
    }
  }
}

@include for-tablet-landscape-up {
  .landing-content {
    h1 {
      font-size: 6rem;
      letter-spacing: 0.4em;
      padding-left: 2rem;
    }
    
    h2 {
      font-size: 2.2rem;
      letter-spacing: 0.2em;
      padding-left: 2rem;
    }
  }

  .about-container {
    height: 300px;
    margin-bottom: 10vh;
  }

  .about-content {
    top: 50%;
    transform: translate(0, -50%);
    padding: 2rem;
  }
}

@include for-desktop-up {
  .header {
    h1 {
      font-size: 10rem;
      letter-spacing: 0.4em;
    }

    h2 {
      font-size: 3rem;
      letter-spacing: 0.2em;
    }
  }
}