.header {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 50px 20px;
  background-color: $aboutBoxColor;
  
  h1, h2, h3, a {
    font-weight: 300;
    letter-spacing: 0.1em;
  }

  h1 {
    margin: 60px 0 10px 0;
    font-size: 4rem;
    font-weight: 500;
  }

  h2 {
    margin-bottom: 10px;
    font-size: 2.2rem;
  }

  h2 a {
    color: $textColor;
    font-weight: 400;
  }
}

.about-content {
  margin: 0 0 60px 0;
  
  p:first-of-type {
    margin-top: 60px;
    font-size: 1.8rem;
    font-weight: 500;
  }

  p {
    margin: 20px 0;
    font-size: 1.6rem;
    font-weight: 300;
  }
}

@include for-tablet-portrait-up {
  .header-content {
    h1 {
      font-size: 4.8rem;
    }

    h2 {
      font-size: 2.4rem;
    }
  }
}

@include for-tablet-landscape-up {
  .header {
    padding: 30px 20px;
    height: auto;
  }

  .header-content {
    h1 {
      margin: 20px 0;
      font-size: 4.8rem;
    }
    
    h2 {
      font-size: 2.4rem;
    }

    h2:nth-of-type(1):after {
      content: ' / ';
    }

    h2:nth-of-type(1), h2:nth-of-type(2){
      display: inline-block;
    }
  }

  .about-content {
    margin: 0 0 30px 0;

    p:first-of-type {
      margin-top: 40px;
    }
  
    p {
      margin: 10px 0;
    }
  }
}

@include for-desktop-up {
  .header {
    padding: 20px 10px;
    height: auto;
  }

  .header-content {
    h1 {
      font-size: 5rem;
    }
  }

  .about-content {
    margin: 0 0 15px 0;
  }
}