* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Fira Sans', Fira, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: rgba(80, 92, 80, 1) url("https://mallowmew.github.io/assets/broken_noise.png") repeat;
}

div {
    font-size: 1.6rem;
    color: rgba(232, 235, 237, 1);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-transform: uppercase;
}

p, a {
    margin: 0;
    font-family: 'Fira Sans Condensed' Fira, sans-serif;
}

a:link {
    color: rgba(228, 127, 11, 1);
    text-decoration-line: none;
    font-weight: bold;
}

a:visited {
    color: rgba(206, 126, 33, 1);
}

/* Style for screen sizes smaller than 599px - mainly Phones */

.landing-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.content-area {
    position: relative;
    margin: auto;
    width: 100%;
}

.landing-content {
    margin: auto;
    padding-top: 25vh;
    width: 100%;
}

.landing-content h1 {
    margin-bottom: 0.6em;
    border-image: linear-gradient(90deg, rgba(232,235,237,1) 0%, rgba(0,0,0,0) 100%) 1 stretch;
    border-top: 1px solid;
    border-left: 1rem solid;
    padding-left: 1rem;
    font-size: 4rem;
    letter-spacing: 0.15em;
    white-space: nowrap;
}

.landing-content h2 {
    margin-bottom: 1em;
    border-left: 1rem solid rgba(232, 235, 237, 1);
    font-size: 1.8rem;
    padding-left: 1rem;
    letter-spacing: 0.15em;
}

.landing-content h2 a {
    color: rgba(232, 235, 237, 1);
}

.about-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.about-window {
    width: 100%;
    height: 100%;
    background-color: rgba(23, 20, 18, 1);
}

.about-window p {
    margin-bottom: 1rem;
    padding: 0 1rem 0 1rem;
}

.about-content {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 1rem;
}

.about-content p:first-of-type {
    font-size: 2.2rem;
}

.back-to-top-button {
    display: none;
}

.portfolio-item {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.portfolio-item:not(.expanded) {
    height:20vh;
}

.portfolio-item:not(.expanded) .portfolio-item-description {
    display: none;
}

.portfolio-item-description {
    position: absolute;
    bottom: 0;
    padding: 12px 0;
    padding-bottom: 42px;
    width: 100%;
    background-color: rgba(23,20,18,0.933);
}

.portfolio-item-description h1, .portfolio-item-description h2, .portfolio-item-description p {
    margin: 0 12px 0.6em 12px;
}

.portfolio-item-description h1 {
    font-size: 2rem;
    border-left: 1rem solid rgba(232,235,237,1);
    padding-left: 0.5rem;
}

.portfolio-item-description h2 {
    font-size: 1.6rem;
    text-transform: none;
}

.portfolio-item-description p {
    color: rgba(232, 235, 237, 1);
    font-size: 1.4rem;
    text-align: justify;
}

.portfolio-item-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.portfolio-item-content h1 {
    position: absolute;    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #505c50;
    font-size: 8rem;
    white-space: nowrap;
    transform: translate(-50%, -50%) rotate(-15deg);
}

footer {
    margin-top: 60px;
    background-color: rgba(23, 20, 18, 1);
    height: 20vh;
    min-height: 100px;
}

footer div {
    padding-top: 60px;
    text-align: center;
}

footer p {
    margin-bottom: 36px;
}

/* Tablets portrait, big phones */
@media screen and (min-width: 600px) {
    .landing-content {
        width: 100%;
    }

    .landing-content h1 {
        font-size: 4.2rem;
        letter-spacing: 0.3em;
    }

    .landing-content h2 {
        font-size: 1.8rem;
        letter-spacing: 0.2em;
    }
}

/* Tablet landscape */
@media screen and (min-width: 900px) {
    .content-area {
        width:900px;
    }

    .landing-content h1 {
        font-size: 6rem;
        letter-spacing: 0.4em;
        padding-left: 2rem;
    }

    .landing-content h2 {
        font-size: 2.2rem;
        letter-spacing: 0.2em;
        padding-left: 2rem;
    }

    .about-container {
        height: 300px;
        margin-bottom: 10vh;
    }

    .about-content {
        top: 50%;
        transform: translate(0, -50%);
        padding: 2rem;
    }

    .back-to-top-button {
        display: block;
        position: sticky;
        top: 90%;
        left: 90%;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        background-color: rgba(228, 127, 11, 1);
        color: rgba(232, 235, 237, 1);
        font-size: 1.2rem;
        text-align: center;
    }

    .up-arrow {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -25%);
        width: 0px;
        height: 0px;
        background-color: transparent;
        border: 10px solid transparent;
        border-bottom: 17.32px solid rgba(232, 235, 237, 1);
    }

    .portfolio-item {
        height: 506px;
    }

    .portfolio-item-description {
        transform: translate(0, 120px);
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    .content-area {
        width: 1000px;
    }

    .landing-content h1 {
        font-size: 10rem;
        letter-spacing: 0.4em;
    }

    .landing-content h2 {
        font-size: 3rem;
        letter-spacing: 0.2em;
    }

    .portfolio-item {
        height: 562px;
    }

    .portfolio-item:not(.expanded):before {
        content:"";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(61, 93, 66, 0.2);
        transition: background 96ms;
    }

    .portfolio-item:not(.expanded):hover:before {
        background: transparent;
        transition: background 96ms;
    }

    .portfolio-item-description {
        height: 33%;
        z-index: 99;
        transform: translate(0, 100%);
        transition: transform 360ms ease-in;
    }

    .portfolio-item:hover .portfolio-item-description {
        transform: translate(0, 0px);
        transition: transform 360ms ease-out;
    }
}

/* Big desktop */
@media screen and (min-width: 1800px) {
    .content-area {
        width: 1200px;
    }

    .landing-content h1 {
        font-size: 12rem;
    }

    .landing-content h2 {
        font-size: 3rem;
    }

    .portfolio-item {
        height: 675px;
    }
}