* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #424242;
    background: url(./Assets/broken_noise.png) repeat;
    font-family: 'Lato', sans-serif;

}

div {
    text-align: center;
    font-size: 1.6rem;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    border: 1px solid #ff0000;
}

.landing-content {
    position: absolute;    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: auto;
    color: #FFFFFF;
}

.landing-content h1 {
    font-size: 14rem;
    white-space: nowrap;
}

.landing-content h2 {
    font-size: 2rem;
}

.portfolio-window {
    position: absolute;    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 70%;
    height: 70vh;
}

.portfolio-window h1 {
    margin: 0;
    padding: 6px 12px;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.portfolio-window .top-bar {
    background-color: #000000;
    color: #FFFFFF;
    text-align: left;
}

.portfolio-window .portfolio-image {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    background: url(./Assets/halftone.png) repeat;
}

footer {
    background-color: #000000;
    height: 20vh;
    min-height: 100px;
}

footer div {
    text-align: center;
    padding-top: 50px;
}