:root {
  --spacing: 0.5rem;
  --main-background-color: #000000;
  --panel-background-color: #262626;
  --main-text-color: #e7e5e4;
  --link-color: #e11d48;
  --visited-link-color: #831843;
}

@font-face {
  font-family: "Fira Sans";
  src: url('fonts/FiraSans-Regular.ttf');
}

@font-face {
  font-family: "Fantasque Sans Mono";
  src: url('fonts/FantasqueSansMono-Regular.woff');
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Fantasque Sans Mono", sans-serif;
  margin: 0;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.mx-auto {
  margin: 0 auto;
}

section {
  margin-top: calc(var(--spacing) * 4);
  margin-bottom: calc(var(--spacing) * 4);
  padding-bottom: calc(var(--spacing) * 4);
}

footer {
  padding-top: calc(var(--spacing) * 8);
  padding-bottom: calc(var(--spacing) * 8);
}

.main-column {
  width: calc((8/12)*100%);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:visited {
  color: var(--visited-link-color)
}

h1 {
  font-size: 3em;
  margin-top: calc(var(--spacing) * 4);
  margin-bottom: calc(var(--spacing) * 0.5);
}

h2 {
  font-size: 2.25em;
  margin-top: calc(var(--spacing) * 4);
  margin-bottom: calc(var(--spacing) * 0.5);
}

h3 {
  font-size: 1.875em;
  margin-bottom: calc(var(--spacing) * 0.5);
}

h4 {
  font-size: 1.5em;
  margin-bottom: calc(var(--spacing) * 0.5);
}

h5 {
  font-size: 1.25em;
  margin-bottom: calc(var(--spacing) * 0.5);
}

h6 {
  font-size: 1.125em;
  margin-bottom: calc(var(--spacing) * 0.5);
}

.uppercase {
  text-transform: uppercase;
}

.h-a,
.h-a:visited {
  color: var(--main-text-color);
}

.small-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: calc(var(--spacing) * 2);
}

.small-card {
  display: flex;
  gap: calc(var(--spacing) * 1);
  margin-top: calc(var(--spacing) * 1);
  margin-bottom: calc(var(--spacing) * 1);
  height: calc(var(--spacing) * 32);
  background-color: var(--panel-background-color);

  img {
    display: block;
    flex-basis: 50%;
    overflow: hidden;
    object-fit: cover;
  }

  .description {
    flex-basis: 50%;
    padding: calc(var(--spacing)*2);

    h1 {
      font-size: 1.2em;
      margin: 0 0 calc(var(--spacing) * 1) 0;
    }

    h2 {
      font-size: 1.1em;
      margin: 0 0 calc(var(--spacing) * 1) 0;
    }

  }
}
