:root {
    --main-darkest-color: #100c08;
    --main-dark-color: #312f2d;
    --main-light-color: #c3c6c9;
    --main-lightest-color: #eff3f7;
    --accent-color: #7e2639;
    --accent-color-tint: #692230;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color:var(--main-dark-color);
    background: url(./Assets/broken_noise.png) repeat;

}

div {
    font-size: 1.6rem;
    color: var(--main-lightest-color);
}

h1, h2, h3, h4, h5, h6, a {
    margin: 0;
    text-transform: uppercase;
}

a:link {
    color: var(--accent-color);
}

a:visited {
    color: var(--accent-color-tint);
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
}

.landing-content {
    /* position: absolute;    
    left: 50%; 
    top: 25%;
    transform: translate(0, -50%); */
    margin: auto;
    padding-top: 25vh;
    width: 100%;
}

.landing-content h1 {
    font-size: 4rem;
    letter-spacing: 0.15em;
    padding-left: 1rem;
    padding-bottom: 0.6em;
    white-space: nowrap;
}

.landing-content h2 {
    font-size: 1.8rem;
    padding-left: 1rem;
    padding-bottom: 1em;
    letter-spacing: 0.15em;
}

.portfolio-window {
    position: absolute;    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 100%;
    height: 100%;
}

.portfolio-window h1 {
    margin: 0;
    padding: 6px 12px;
    font-size: 1.8rem;
}

.portfolio-window .top-bar {
    background-color: var(--main-darkest-color);
    color: #ebe8e6;
    text-align: left;
}

.portfolio-window .portfolio-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(./Assets/halftone.png) repeat;
}

footer {
    background-color: var(--main-darkest-color);
    height: 20vh;
    min-height: 100px;
}

footer div {
    text-align: center;
    padding-top: 50px;
}

/* Above should be for screen sizes smaller than 599px */

@media screen and (min-width: 600px) {
    .landing-content {
        width: 100%;
    }

    .portfolio-window {
        width: 100%;
        height: 100%;
    }

    .landing-content h1 {
        font-size: 4.2rem;
        letter-spacing: 0.3em;
    }

    .landing-content h2 {
        font-size: 1.8rem;
        letter-spacing: 0.2em;
    }
}

@media screen and (min-width: 900px) {
    .landing-content {
        width: 900px;
    }

    .portfolio-window {
        width: 900px;
        height: 506px;
    }

    .landing-content h1 {
        font-size: 6rem;
        letter-spacing: 0.4em;
        padding-left: 0;
    }

    .landing-content h2 {
        font-size: 2.2rem;
        letter-spacing: 0.2em;
        padding-left: 0;
    }
}

@media screen and (min-width: 1200px) {

    .landing-content {
        width: 1000px;
    }

    .portfolio-window {
        width: 1000px;
        height: 562px;
    }

    .landing-content h1 {
        font-size: 10rem;
        letter-spacing: 0.4em;
    }

    .landing-content h2 {
        font-size: 3rem;
        letter-spacing: 0.2em;
    }
}

@media screen and (min-width: 1800px) {

    .landing-content {
        width: 1200px;
    }

    .portfolio-window {
        width: 1200px;
        height: 675px;
    }

    .landing-content h1 {
        font-size: 12rem;
    }

    .landing-content h2 {
        font-size: 3rem;
    }
}