@import 'tailwindcss';

@font-face {
  font-family: "Merriweather";
  src: local("Merriweather"), url("/fonts/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather Sans";
  font-weight: 400;
  src: local("Merriweather Sans"), url("/fonts/MerriweatherSans-Regular.ttf") format("truetype");
  /* font-weight: 300 800;
  src: local("Merriweather Sans"), url("/fonts/MerriweatherSans-VariableFont_wght.ttf") format("truetype"); */
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: local("Open Sans"), url("/fonts/OpenSans-Regular.ttf") format("truetype");
  /* font-weight: 300 800;
  src: url("/fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype"); */
}

@font-face {
  font-family: "Inter";
  font-weight: 300 800;
  src: local("Inter"), url("/fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
}

@theme {
  --font-display-serif: 'Merriweather', 'serif';
  --font-display-serif--font-variation-settings: 'wght' 400;
  --font-display: 'Merriweather Sans', 'sans-serif';
  --font-display--font-variation-settings: 'wght' 400;
  --font-body: 'Open Sans', 'sans-serif';
  --font-body--font-variation-settings: 'wght' 400;
  --font-link: 'Open Sans', 'sans-serif';
  --font-link--font-variation-settings: 'wght' 600;
}
